server:
  port: 8080
  servlet:
    context-path: /community

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql:///community?characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
    password: 1234
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 15 # 连接池最大连接数
      minimum-idle: 5 # 最小空闲连接
      idle-timeout: 30000 # 超时时间：ms
  mail:
    host: smtp.163.com
    port: 465
    username: 15102489402@163.com
    password: lvxiangzhu240041
    protocol: smtps
    properties:
      mail:
        smtp:
          ssl:
            enable: true # 启用ssl安全连接
            required: false

mybatis:
  mapper-locations: classpath:mapper/*.xml # xml文件的位置
  type-aliases-package: com.dlut.community.pojo # xml里引用实体类时不用写包名
  configuration:
    use-generated-keys: true # 启用自动生成主键（id）
    map-underscore-to-camel-case: true # 自动匹配数据库下划线命名和实体类驼峰命名


logging:
  level:
    com:
      dlut:
        community: debug # 将该路径包的所有文件日志级别设置为debug，方便查看xml报错

  file:
    path: "d:/community.log"

community:
  path:
    domain: http://localhost:8080
    upload: D:/work/data/upload # 保存用户头像的位置


